<div class="container">
  <h1>Add new item</h1>
  <p-dropdown [options]="menu" [(ngModel)]="selectedMenu"></p-dropdown>
  <br>
  <br>
  <span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText [(ngModel)]="name">
    <label for="float-input">Name</label>
  </span>
  <br>
  <br>
  <span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText [(ngModel)]="Description">
    <label for="float-input">Description</label>
  </span>
  <br>
  <br>
  <span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText [(ngModel)]="Price">
    <label for="float-input">Price</label>
  </span>
  {{name}} {{Description}} {{Price}} {{selectedMenu}}
</div>
<button (click)="checking()">click</button>
