<div class="toolbarwrap">

  <p-toolbar>
    <div class="toolbarelt">
      <div class="ui-toolbar-group-left">
        <button pButton type="button" label="Menu" icon="fa-plus" routerLink="/nav"></button>
        <button pButton type="button" label="Dashboard" icon="fa-tachometer" routerLink="/dashboard" *ngIf="authService.isAuthenticated()"></button>
      </div>
    </div>

    <div class="ui-toolbar-group-right">
      <button pButton type="button" icon="fa-home" label='Home' routerLink="/home"></button>
      <button pButton type="button" icon="fa-handshake-o" label='Contact us'></button>
      <button pButton type="button" icon="fa-shopping-cart" label='Cart ({{cartService.cartCount}})' routerLink="/cart"></button>
      <button pButton type="button" icon="fa-sign-in" label='Login' (click)="authService.login();"></button>
      <button pButton type="button" icon="fa-sign-out" label='Logout' (click)="authService.logout();"></button>

    </div>
  </p-toolbar>
</div>

<router-outlet></router-outlet>
